.container{
  position: absolute;
  margin-top: -49%;
  margin-left: 7.8%;
  width: 32%;
  height: 28%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter;
  font-size: clamp(1rem, 1.5vmin, 1.5rem);
}
.text{
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter;
  text-align: center;
  font-size: clamp(.75rem, 1.2vmin, 1.7rem);
}


.linksdiv{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 80%;
  margin-top: 1%;
}

.icon{
  height: 100%;
  width: 10%;
  transition: transform .5s;
}

.icon:hover{
  cursor: pointer;
  transform: translate(0px, -5px);
  transition: transform .2s;
}


.a{
  position: absolute;
  margin-top: 96.5%;
  margin-left: 73%;
  height: 27%;
  width: 17%;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

.a:hover{
  opacity: 0.1;
}

.b{
  position: absolute;
  margin-top: 109%;
  margin-left: 31%;
  height: 27%;
  width: 17%;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

.b:hover{
  opacity: 0.1;
}

.swipe{
  position: absolute;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  margin-left: 35%;
  margin-top: -69%;
}